{% extends "frontend/main.html" %}

{% block content %}

<style type="text/css">


</style>

<div class="container">
    <div id="task-container">
        <div id="form-wrapper">
            <form method="post" id="form">
                {% csrf_token %}
                <div class="flex-wrapper">
                    <table>{{ form.as_p }}</table>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
